binary
build
src/o
jrubout.c
jrubout.exe
jrubout.obj
kcode.c
kcode.exe
kcode.obj
kwipe.txt
minetown.txt
nhmagic.txt
otspells.xls
nhmgc.txt
tempmap.txt
test2.pl
*.map
*.exe
*.tds
util/y.output
*.lev
*.dat
dat/data
dat/dungeon
dat/objdesc
dat/oracles
dat/rumors
src/jtrnstbl.c
src/nhdat
src/clean.bat
